{% extends 'base.html' %}


{% block content %}
<a href="/logout">logout</a>

<h1>Pedidos de préstamos</h1>

<table class="table">
<thead>
<tr>
    <td>DNI</td>
    <td>Nombre Completo</td>
    <td>Género</td>
    <td>email</td>
    <td>cantidad</td>
    <td></td>
    <td></td>
<tr>
</thead>
<tbody>
{% for object in object_list %}
    <tr>
        <td>{{ object.document_number }}</td>
        <td>{{ object.complete_name }}</td>
        <td>{{ object.gender }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.amount }}</td>
        <td>
            <a class="btn btn-warning btn-sm" href="/loans/{{ object.pk }}/update">editar</a>
        </td>
        <td>
            <a class="btn btn-danger btn-sm" href="/loans/{{ object.pk }}/delete">eliminar</a>
        </td>
    </tr>
{% empty %}
    <tr>No hay pedidos aún.</tr>
{% endfor %}

</tbody>

</table>
{% endblock content %}